<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
</head>

<body>
    <div class="m-5 justify-content-center border-top border-primary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim
        molestiae beatae dolorem non reiciendis, maiores reprehenderit voluptate deserunt, blanditiis deleniti nobis
        dolores perspiciatis ea magni quia ipsam voluptatem, vel hic qui possimus rem? Molestias sed, cupiditate
        deleniti quo, alias quae voluptatibus similique tempora possimus dolor sunt magnam consequuntur cum molestiae
        hic quod fuga soluta, voluptate vel? Possimus, nobis ipsa quod doloribus in adipisci, illo suscipit sunt
        necessitatibus mollitia recusandae maiores minus rem, ea iusto! Magnam, itaque. Repudiandae, aspernatur incidunt
        placeat facere perspiciatis qui magni explicabo, maiores distinctio quaerat vero. Neque esse, eaque ipsam
        repellat quae nulla vitae unde quisquam tenetur.</div>
</body>

</html>