<div class="container">
    <h2>Modify your Todo</h2>
    <table class="table border mt-5">
        <tr><td>What is the thing that has to be done? </td><td><input class="form-control-lg" type="text"></td></tr>
        <tr><td>By when are you planning to get it done? </td><td><input class="form-control-lg" type="text"></td></tr>
    </table>
    <div class="row d-flex justify-content-center mt-5"><button class="btn btn-success mr-4 btn-lg">Save</button><button class="btn btn-primary btn-lg">Reset</button></div>
    </div>
    